<%= form_with(model: membro, class: "contents") do |form| %>
  <% if membro.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(membro.errors.count, "error") %> prohibited this membro from being saved:</h2>

      <ul>
        <% membro.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :etapa %>
    <%= form.text_field :etapa, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :rosto %>
    <%= form.file_field :rosto, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "rG" %>
    <%= form.number_field :rg, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :celular %>
    <%= form.number_field :celular, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label "Ano de Inscrição" %>
    <%= form.number_field :anoDeInscricao, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <% items = [{:value => "1", name: "Everest Lago Sul"}, {:value => "2", name: "Guadalupe"}, {:value => "3", name: "Forzza"}, {:value => "4", name: "Everest Asa Norte"}] %>
    <%= form.label "Local de ECyD" %>
    <%#= form.number_field :localEcyd, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  <%= render_combobox items do %>
    <%= combobox_trigger do %>
      Selecione o Local de ECyD
    <% end %>
  <% end %>
  
  </div>

  <div class="my-5">
    <%= form.label "Restrição Alimentar" %>
    <%= form.text_field :restricao, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div>OS CAMPOS A SEGUIR SÃO SOMENTE PARA O AMBIENTE DE TESTES</div>
  <div class="my-5">
    <%= form.label "Email" %>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Enviar",  class: "rounded-lg py-3 px-5 bg-RC-dark text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
