<div id="<%= dom_id membro %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= membro.nome %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Etapa:</strong>
    <%= membro.etapa %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rosto:</strong>
    <%= image_tag(membro.rosto) %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">RG:</strong>
    <%= membro.rg %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Celular:</strong>
    <%= membro.celular %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ano de Inscrição:</strong>
    <%= membro.anoDeInscricao %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Local de ECyD:</strong>
    <%= membro.localEcyd %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Restrição Alimentar:</strong>
    <%= membro.restricao %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this membro", membro, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this membro", edit_membro_path(membro), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
